__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
build/
dist/
downloads/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.python-version
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
.git/
.gitignore
.pytest_cache/
.coverage
.coverage.*
.cache
test/
tests/
